<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comparison #<%= @comparison.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= @comparison.user_id %></dd>

              <dt>Plan</dt>
              <dd><%= @comparison.plan_id %></dd>

              <dt>Plan type</dt>
              <dd><%= @comparison.plan_type_id %></dd>

              <dt>Plan number</dt>
              <dd><%= @comparison.plan_number_id %></dd>

              <dt>Metal level</dt>
              <dd><%= @comparison.metal_level_id %></dd>

              <dt>Insurer</dt>
              <dd><%= @comparison.insurer_id %></dd>

              <dt>State</dt>
              <dd><%= @comparison.state_id %></dd>

              <dt>Year</dt>
              <dd><%= @comparison.year_id %></dd>

              <dt>County</dt>
              <dd><%= @comparison.county_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/comparisons" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/comparisons/<%= @comparison.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_comparison/<%= @comparison.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
