<div class="page-header">
  <h1>
    Plans
      <a href="/plans/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
  <p>This displays all health insurance plans on healthcare.gov. Users can add / delete plans; but cannot change existing plan data. 'Ind 40 Prem' represents the monthly premium for a 40-year old non-smoker.</p>
</div>

<div class = "row">
<%= search_form_for @q do |f| %>
  <p class="lead">Narrow results by field:</p>

  <div class="form-group col-sm-2">
    <%= f.label :insurer_insurer_cont, "Insurer:" %>
    <%= f.text_field :insurer_insurer_cont, :class => "form-control", :placeholder => "i.e. United" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :plan_name_cont, "Plan name contains:" %>
    <%= f.text_field :plan_name_cont, :class => "form-control", :placeholder => "Enter part of plan name" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :plan_type_plan_type_cont, "Plan type:" %>
    <%= f.text_field :plan_type_plan_type_cont, :class => "form-control", :placeholder => "i.e. HMO" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :metal_level_metal_level_cont, "Metal Level:" %>
    <%= f.text_field :metal_level_metal_level_cont, :class => "form-control", :placeholder => "i.e. Silver" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :county_county_eq, "County:" %>
    <%= f.text_field :county_county_eq, :class => "form-control", :placeholder => "i.e. Cook" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :state_state_eq, "State:" %>
    <%= f.text_field :state_state_eq, :class => "form-control", :placeholder => "i.e. IL" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :ind_40_prem_gteq, "Ind. 40 premium:" %>
    <%= f.text_field :ind_40_prem_gteq, :class => "form-control", :placeholder => "greater than" %>
  </div>

  <div class="form-group col-sm-2">
    <%= f.label :ind_40_prem_lteq, "Ind. 40 premium:" %>
    <%= f.text_field :ind_40_prem_lteq, :class => "form-control", :placeholder => "less than" %>
  </div>

  <%= f.submit :class => "btn btn-primary col-sm-6" %>

  <a href="/plans" class="btn btn-default col-sm-6">Clear filters</a>
<% end %>
</div>

<div class="row">
  <%= paginate @plans %>
</div>

<div class="row isotope-container">
<table class="table table-striped table-hover">
  <thead>
    <tr>

    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :insurer_insurer) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :plan_name) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :plan_type_plan_type) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :metal_level_metal_level) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :county_county) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <%= content_tag :th, sort_link(@q, :state_state) %>
      <% end %>
    </th>
    <th>
      <%= content_tag :table do %>
        <% content_tag :th, sort_link(@q, :ind_40_prem) %>
      <% end %>
    </th>
    <th></th>
    <th></th>
    </tr>
  </thead>

  <tbody>

    <% @plans.each do |plan| %>
    <tr>
      <td> <%= plan.insurer.insurer %></td>
      <td> <%= plan.plan_name %></td>
      <td> <%= plan.plan_type.plan_type %></td>
      <td> <%= plan.metal_level.metal_level %></td>
      <td> <%= plan.county.county %></td>
      <td> <%= plan.state.state %></td>
      <td> $ <%= plan.ind_40_prem %></td>
      <td>
        <a href="plans/<%= plan.id %>" class="btn btn_primary">
          <i class="fa fa-search-plus"></i>
        </a>
      </td>
      <td>
        <a href="/delete_plan/<%= plan.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
